.env
.env.*
!.env.example

/vendor
/node_modules

/public/storage
/public/hot
/public/build

/storage/*.key
/storage/logs
/bootstrap/cache

.phpunit.result.cache
.phpactor.json

.DS_Store
Thumbs.db

/.idea
/.vscode
/.fleet
/.nova
/.phpunit.cache
/.zed
